.reveal section .pink {
    color: #ff00ff;
}
.reveal section .cyan {
    color: #00ffff;
}
.reveal section .left-align {
    text-align: left;
}
.reveal section .no-ticks li {
    list-style-type: none;
}
.reveal section .gap1 {
    gap: 1em;
}
.reveal section .subtitle {
    font-size: 2rem;
}
.reveal section .overlay {
    padding: 10px;
    background: #8f8f8f;
    background: rgba(0,0,0,0.6);
}
section#capgemini-logo {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1050;
}

section#capgemini-logo svg {
    height: 4rem;
}